@use "fonts";
@use "colors" as c;
@use "buttons";
@use "cards";
@use "footers";
@use "forms";
@use "icons";
@use "images";
@use "links";
@use "lists";
@use "navigation";
@use "paragraphs";
@use "reset";
@use "searchbars";
@use "titles";

@include fonts.mainFonts;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: c.$N-warm-grey;
}

header{
    background-color: c.$N-cool-grey;
    @include navigation.navigationMenu;
}

main{
    max-width: 1200px;
    margin: auto;
    .info-box{
        @include images.imageBackground;
        h1{
            @include titles.h1Style;
        }
        p{
            @include paragraphs.infoText;
        }
        button{
            @include buttons.buttonDefault;
            margin-top: 1.7em;
            margin-left: 0.5em;
        }
        button:hover{
            @include buttons.buttonHover;
        }
    }
    .newsCard{
        @include cards.newsStyle;
    }
    .form-container{
        @include forms.containerForm;
        form{
            @include forms.interestForm;
        }
        .toggleFormOff{
            display: none;
        }
        div{
            display: none;
            p{
                color: c.$P-white;
                font-size: 2em;
            }
        }
    }
    .icon-grid{
        @include links.iconLink;
    }
}

footer{
    @include footers.footerStyle;
}

.tilmelding-container{
    @include forms.containerForm;
    form{
        @include forms.tilmeldingForm;
    }
}

.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    #iot-talks{
        figure{
            @include cards.talkCard;
            h2{
                @include titles.talkHeadingStyle;
            }
            p{
                @include paragraphs.talkTextStyle;
            }
            img{
                width: 80%;
                border-radius: 10px;
            }
        }
    }
    #desktop-talks{
        figure{
            @include cards.talkCard;
            h2{
                @include titles.talkHeadingStyle;
            }
            p{
                @include paragraphs.talkTextStyle;
            }
            img{
                width: 80%;
                border-radius: 10px;
            }
        }
    }
}